.button {
	border: none;
	background-color: transparent;
	border-radius: 3px;
	outline: 0;
	font-weight: 500;
	font-size: 15px;
}

.primary {
	background-color: hsl(200, 71%, 83%);
	color: rgb(37, 37, 37);
	transition: all 300ms;
}

.secondary {
	background-color: hsl(20, 71%, 68%);

	color: rgb(37, 37, 37);
	transition: all 300ms;
}

.sm {
	padding: 3px 10px;
}

.md {
	padding: 7px 15px;
}

.primary:hover {
	background-color: hsl(200, 71%, 70%);
}

.secondary:hover {
	background-color: hsl(20, 71%, 58%);
}
