.heroSection {
    height: 100vh;
    color: white;
    text-align: center;
    position: relative;
}

.heroSectionText {
    width: fit-content;
    letter-spacing: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
		z-index: 999999;
}

.heroSectionText h1{
    font-weight: 700;
}

.heroSectionText h4{
    font-weight: 600;
}
